b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk

**/node_modules
**/node_modules/*
**/dist
.env
*mysql*
sccc-content/logs
*.zip
*secrets*
sccc-content/data
**/casper
**/sccc-theme/assets/built
**/sccc-theme/assets/built/main.min.js
