<li>
  <time datetime="{{date updated_at format="MMMM DD, YYYY"}}">
    {{date updated_at format="MMMM DD, YYYY"}}
  </time>
  <p class="title">
    {{title}}
  </p>
  <p>
    {{excerpt characters="85"}}
    ...
    <a href="#">
      more
    </a>
  </p>
</li>