<section class="featured-wrapper">
  <h2 class="featured-title">
    Our Sponsors
  </h2>
  <div class="marquee marquee--hover-pause enable-animation">
    <ul class="marquee__content">
      <li>
        <a href="https://www.bhf.org.uk/">
          <img src="/content/images/sponsors/bhf.png" />
        </a>
      </li>
      <li>
        <a href="https://www.cheamsports.co.uk">
          <img src="/content/images/sponsors/cheam_sports.png" />
        </a>
      </li>
      <li>
        <a href="http://www.surreycricketfoundation.org/">
          <img src="/content/images/sponsors/scf.png" />
        </a>
      </li>
      <li>
        <a href="https://www.sutton.gov.uk/home">
          <img src="/content/images/sponsors/sutton_council.png" />
        </a>
      </li>
      <li>
        <a href="https://www.thecricketlounge.co.uk/">
          <img src="/content/images/sponsors/CL-Icon.png" />
        </a>
      </li>
      <li>
        <a href="https://ukhomes4u.com/">
          <img src="/content/images/sponsors/ukhomes4ulogo.png" />
        </a>
      </li>
      <li>
        <a href="https://thinklithe.com/">
          <img src="/content/images/sponsors/Lithe.png" />
        </a>
      </li>
      <li>
        <a href="https://www.latestconsultancy.com/">
          <img src="/content/images/sponsors/latest-consultancy.png" />
        </a>
      </li>
      <li>
        <a
          href="https://www.emberinns.co.uk/nationalsearch/london/the-california-sutton#/"
        >
          <img src="/content/images/sponsors/California.jpg" />
        </a>
      </li>
    </ul>
    <ul aria-hidden="true" class="marquee__content">
      <li>
        <a href="https://www.bhf.org.uk/">
          <img src="/content/images/sponsors/bhf.png" />
        </a>
      </li>
      <li>
        <a href="https://www.cheamsports.co.uk">
          <img src="/content/images/sponsors/cheam_sports.png" />
        </a>
      </li>
      <li>
        <a href="http://www.surreycricketfoundation.org/">
          <img src="/content/images/sponsors/scf.png" />
        </a>
      </li>
      <li>
        <a href="https://www.sutton.gov.uk/home">
          <img src="/content/images/sponsors/sutton_council.png" />
        </a>
      </li>
      <li>
        <a href="https://www.thecricketlounge.co.uk/">
          <img src="/content/images/sponsors/CL-Icon.png" />
        </a>
      </li>
      <li>
        <a href="https://ukhomes4u.com/">
          <img src="/content/images/sponsors/ukhomes4ulogo.png" />
        </a>
      </li>
      <li>
        <a href="https://thinklithe.com/">
          <img src="/content/images/sponsors/Lithe.png" />
        </a>
      </li>
      <li>
        <a href="https://www.latestconsultancy.com/">
          <img src="/content/images/sponsors/latest-consultancy.png" />
        </a>
      </li>
      <li>
        <a
          href="https://www.emberinns.co.uk/nationalsearch/london/the-california-sutton#/"
        >
          <img src="/content/images/sponsors/California.jpg" />
        </a>
      </li>
    </ul>
  </div>
</section>