/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img,
.camera_wrap ol,
.camera_wrap ul,
.camera_wrap li,
.camera_wrap table,
.camera_wrap tbody,
.camera_wrap tfoot,
.camera_wrap thead,
.camera_wrap tr,
.camera_wrap th,
.camera_wrap td .camera_thumbs_wrap a,
.camera_thumbs_wrap img,
.camera_thumbs_wrap ol,
.camera_thumbs_wrap ul,
.camera_thumbs_wrap li,
.camera_thumbs_wrap table,
.camera_thumbs_wrap tbody,
.camera_thumbs_wrap tfoot,
.camera_thumbs_wrap thead,
.camera_thumbs_wrap tr,
.camera_thumbs_wrap th,
.camera_thumbs_wrap td {
  background: none;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  line-height: ;
}
.camera_wrap {
  display: none;
  float: none;
  position: relative;
  z-index: 1;
  margin: 0 !important;
}
.camera_wrap img {
  max-width: none !important;
  overflow: hidden;
}
.camera_fakehover {
  height: 100%;
  position: relative;
  width: 100%;
  /*z-index: 1;*/
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  /*z-index: 1;*/
  display: inline-block;
}
.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  /*z-index: 2;*/
}
.camera_target_content .camera_link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.camera_loader {
  background: #efede0 url(../img/camera-loader.gif) no-repeat center;
  height: 36px;
  width: 36px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  z-index: 3;
  border-radius: 36px;
}
.camera_loader img {
  border-radius: 36px;
}
.camera_clear {
  display: block;
  clear: both;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: 0px;
  position: relative;
}
.slider {
  position: relative;
  z-index: 0;
  top: 0;
}
.slider2 {
  position: relative;
  z-index: 0;
  top: 0;
  padding-bottom: 39px;
}
.camera_pag {
  position: absolute;
  z-index: 10;
  bottom: 27px;
  right: 31px;
  width: 100%;
  padding: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider2 .camera_pag {
  bottom: -39px;
  right: 0;
}
.slider2 .camera_pag_ul li > span {
  border-color: #455052;
}
.camera-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 24px 120px 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #494b4c;
  text-align: left;
  background: rgba(73, 75, 76, 0.7);
}
.camera-caption .title {
  font: 16px/16px "Prosto One";
  color: #fff;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.camera-caption .description {
  font: 13px/16px "Roboto";
  color: #fff;
  margin-bottom: 0;
}
.camera-caption a {
  background: #f84f1d url(../img/camera_arrow.png) center center no-repeat;
  width: 90px;
  height: 90px;
  display: inline-block;
  float: left;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.camera-caption a:hover {
  background: #f8941d url(../img/camera_arrow.png) center center no-repeat;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.camera_prev span,
.camera_next span {
  position: absolute;
  display: block;
  width: 86px;
  height: 86px;
  top: 50%;
  margin-top: -43px;
  cursor: pointer;
  z-index: 1000;
}
.camera_prev span {
  left: 0;
  background: url(../img/prev.png) 0 top no-repeat;
}
.camera_prev span:hover {
  background: url(../img/prev.png) 0 bottom no-repeat;
}
.camera_next span {
  right: 0;
  background: url(../img/next.png) 0 top no-repeat;
}
.camera_next span:hover {
  background: url(../img/next.png) 0 bottom no-repeat;
}
.camera_pag_ul {
  display: inline-block;
  float: right;
}
.camera_pag_ul li {
  text-indent: -100px;
  float: left;
  margin: 0 0 0 3px;
}
.camera_pag_ul li:first-child {
  margin-left: 0;
}
.camera_pag_ul li > span {
  cursor: pointer;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: none;
  text-indent: -100px;
  overflow: hidden;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.camera_pag_ul li > span > span {
  display: none;
}
.camera_pag_ul li.cameracurrent span,
.camera_pag_ul li:hover span {
  background: #0b2c6f;
  border-color: #0b2c6f;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1220px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
  .slider {
    margin-bottom: 30px;
  }
  .slider-box {
    margin-bottom: 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .slider {
    margin-bottom: 30px;
  }
  .slider-box {
    margin-bottom: 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .slider {
    margin-bottom: 30px;
  }
  .camera-caption {
    padding: 24px 120px 60px 30px;
  }
  .slider-box {
    margin-bottom: 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
