@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import "misc/contact-form.css";

.is-head-transparent .gh-head {
    background-color: transparent;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 90;
    margin-top: 1vh;
}

.is-head-brand:not(.is-head-transparent) .gh-head {
    background-color: #546b9a;
    height: 110px;
}

.post-feed.expanded :is(.feed-length, .feed-date)::before {
    content: "\02022";
    font-family: serif;
    font-size: 1rem;
    line-height: 2;
    padding: 0 .7rem;
}

/* Article overrides */

.gh-article-header {
    position: relative;
    justify-items: start;
}

.gh-article-tag {
    margin-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-article-excerpt {
    font-size: 1.9rem;
}

.has-full-image .gh-article-excerpt {
    margin-bottom: -8px;
}

.gh-article-image {
    grid-column: main-start / main-end;
    width: 100%;
}

.has-wide-image .gh-article-image {
    grid-column: wide-start / wide-end;
}

.gh-head-logo img {
    max-height: 100px;
}

.gh-article-sidebar {
    position: absolute;
    left: 0;
    grid-column: wide-start/main-start;
    padding-right: 32px;
}

.has-wide-image .gh-article-sidebar {
    top: calc(100% + 40px);
}

.gh-author-image-list {
    display: flex;
    margin-left: -2px;
}

.gh-author-image {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.gh-author-image-list .gh-author-image {
    margin-bottom: 16px;
    border: 2px solid var(--color-white);
}

.gh-author-image-list .gh-author-image:only-child {
    width: 68px;
    height: 68px;
}

.gh-author-image-list .gh-author-image:hover {
    opacity: 1;
}

.gh-author-image-list .gh-author-image+.gh-author-image {
    margin-left: -20px;
}

.gh-author-image-list .gh-author-image:nth-child(1) {
    z-index: 30;
}

.gh-author-image-list .gh-author-image:nth-child(2) {
    z-index: 20;
}

.gh-author-image-list .gh-author-image:nth-child(3) {
    z-index: 10;
}

.gh-author-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gh-author-icon {
    background-color: var(--color-light-gray);
}

.gh-author-name-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
    line-height: 1.35;
}

.gh-author-name {
    display: flex;
    font-size: 1.8rem;
    line-height: 1.35;
    letter-spacing: -0.01em;
}

.gh-article-meta {
    margin-top: 3px;
    font-size: 1.3rem;
    color: var(--secondary-text-color);
    letter-spacing: -0.003em;
}

.gh-article-meta-inner {
    display: flex;
    align-items: center;
}

.gh-article-meta-sep {
    width: 2px;
    height: 2px;
    margin: 0 6px;
    background-color: currentColor;
    border-radius: 50%;
}

/* Stats */

.gh-stats {
    text-align: right
}

/* Styles specific to grid style sections */

.topic-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px 60px;
}

.topic-header {
    display: flex;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--mid-gray-color);
}

.topic-name {
    margin-bottom: 0;
    font-size: 2.2rem;
    letter-spacing: -0.005em;
}

.has-serif-title .topic-name {
    font-family: var(--font-serif);
}

.topic-count {
    margin-left: 15px;
    color: var(--secondary-text-color);
}

.topic-article-feed {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.topic-article-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}

.topic-article-link {
    display: flex;
    padding: 7px 0;
}

.topic-article-link svg {
    width: 16px;
    height: 16px;
    margin: 3px 5px 0 -5px;
}

.topic-more {
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: -0.005em;
}

@media (max-width: 767px) {
    .topic-feed {
        grid-template-columns: 1fr;
    }
}

.gh-card-footer {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 16px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-card:not(.large) .gh-card-footer {
    margin-top: 12px;
}

.gh-topic-grid .gh-card.featured.large .gh-card-footer {
    margin-top: 20px;
    color: var(--color-white);
}

.gh-card-footer>*+* {
    display: flex;
    gap: 6px;
    align-items: center;
}

.gh-card-footer>*+*:not(script)::before {
    display: block;
    width: 2px;
    height: 2px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
}

@media (max-width:810px) {
    .gh-head-logo img {
        max-height: 70px;
    }
}

@media (min-width: 992px) {
    .has-full-image .gh-article-excerpt {
        margin-top: 36px;
        font-size: 2.4rem;
    }
}

@media (max-width: 1199px) {
    .gh-article-sidebar {
        position: static;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column: main-start / main-end;
        column-gap: 12px;
        align-items: center;
        padding-right: 0;
        margin-top: 24px;
    }

    .gh-article-sidebar .gh-author-image-list {
        grid-row: 1 / 3;
    }

    .gh-article-sidebar .gh-author-image {
        width: 48px;
        height: 48px;
        margin-bottom: 0;
    }

    .gh-author-image-list .gh-author-image+.gh-author-image {
        margin-left: -16px;
    }

    .gh-author-name-list {
        font-weight: 600;
    }

    .gh-author-name {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .gh-article-meta {
        margin-top: -6px;
        line-height: 1;
    }
}


/* Sponsors Marque */
.marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
    .marquee__content {
        animation-play-state: paused !important;
    }
}

/* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 45s linear infinite;
}

/* Reverse animation */
.marquee--reverse .marquee__content {
    animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
    animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
    max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
    animation-name: scroll-abs;
}

@keyframes scroll-abs {
    from {
        transform: translateX(calc(100% + var(--gap)));
    }

    to {
        transform: translateX(0);
    }
}

/* Other page demo styles */
.marquee__content>* {
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.marquee__content>li>a>img {
    filter: grayscale(1);
    width: auto;
    max-width: 15vw;
    height: auto;
    max-height: 10vh;
}

.marquee__content>li>a>img:hover {
    filter: none;
}

/* .marquee {
    border: 2px dashed lightgray;
  } */

* {
    box-sizing: border-box;
}

/* body {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  } */

/* h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-block: 2rem 1rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  } */

section {
    margin-block: 3rem;
}

section>*+* {
    margin-block-start: 0.5rem;
}
