{{!< default}}

<div class="global indent">
  <div class="container">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9970.024993988118!2d-0.242819!3d51.3386009!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875e27afeae91b3%3A0xa77c0b2fd43e52!2sGlyn%20School%20(Priest%20Hill)%20Playing%20Fields!5e0!3m2!1sen!2suk!4v1679072274302!5m2!1sen!2suk"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        style="border:0"
      ></iframe>
    </div>
  </div>
  <div class="formBox">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h2 class="indent">
            Addresses
          </h2>
          <div class="info">
            <h5>
              Address:
            </h5>
            <p>
              Glyn School (Priest Hill) Playing Fields
              <br />
              KT17 3DS
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="indent">
            Contact form
          </h2>
          <form id="contact-form">
            <div class="contact-form-loader"></div>
            <fieldset>
              <label class="name form-div-1">
                <strong>
                  Name*
                </strong>
                <input
                  type="text"
                  name="name"
                  placeholder=""
                  value=""
                  data-constraints="@Required @JustLetters"
                />
                <span class="empty-message">
                  *This field is required.
                </span>
                <span class="error-message">
                  *This is not a valid name.
                </span>
              </label>
              <label class="email form-div-2">
                <strong>
                  E-mail*
                </strong>
                <input
                  type="text"
                  name="email"
                  placeholder=""
                  value=""
                  data-constraints="@Required @Email"
                />
                <span class="empty-message">
                  *This field is required.
                </span>
                <span class="error-message">
                  *This is not a valid email.
                </span>
              </label>
              <label class="phone form-div-3">
                <strong>
                  Phone
                </strong>
                <input
                  type="text"
                  name="phone"
                  placeholder=""
                  value=""
                  data-constraints="@Required @JustNumbers"
                />
                <span class="empty-message">
                  *This field is required.
                </span>
                <span class="error-message">
                  *This is not a valid phone.
                </span>
              </label>
              <label class="message form-div-4">
                <strong>
                  Message*
                </strong>
                <textarea
                  name="message"
                  placeholder=""
                  data-constraints="@Required @Length(min=20,max=999999)"
                ></textarea>
                <span class="empty-message">
                  *This field is required.
                </span>
                <span class="error-message">
                  *The message is too short.
                </span>
              </label>
              <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
              <div>
                <a href="#" data-type="submit" class="btn-default btn1">
                  submit
                  <span class="fa fa-angle-right"></span>
                </a>
                <p>
                  * required fields
                </p>
              </div>
            </fieldset>
            <div class="modal fade response-message">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-hidden="true"
                    >
                      ×
                    </button>
                    <h4 class="modal-title">
                      Modal title
                    </h4>
                  </div>
                  <div class="modal-body">
                    You message has been sent! We will be in touch soon.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>