{{!< default}}
<main class="site-main">
  <div id="teams" class="gh-outer">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/w3images/team1.jpg" alt="Jane" style="width:100%" />
          <div class="container">
            <h2></h2>
            </h2>
            <p></p>
            </p>
            <p>
              <button class="button">
                Read More
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>